.signUpSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f2f2f2;
  padding: 0 2rem;
}

.signUpHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.signUpHeading a:nth-child(2) {
  font-size: 1rem;
}

.signUpSection form {
  margin-top: 2rem;
  width: 30%;
}

.input {
  padding: 0.6rem;
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid var(--black);
  border-radius: 0.3rem;
}

.input:focus {
  outline: none;
}

.label {
  font-family: var(--fontRegular);
  margin-bottom: 0.6rem;
  display: inline-block;
  font-size: 1.6rem;
}

.signUpBtnContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.errorMessage {
  color: red;
  margin-bottom: 2rem;
}

.successMessage {
  color: green;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .signUpSection form {
    width: 100%;
  }
}
